.title {
	font-size: 5rem;
	color: whitesmoke;
	text-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.titleContainer {
	background-color: rgba(221, 7, 7, 0.771);
	padding: 10px 25px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
